{% extends "base.html" %}
{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/blog.css">

{% endblock heder %}
{% block mainbody %}
<script>
  let body = document.getElementById("mainbody")
  body.setAttribute("class", "blog custom-background et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_two_panels et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutters3 et_smooth_scroll et_right_sidebar et_divi_theme et-db")
</script>

<div id="page-container">

  <div id="et-main-area">

    <div id="main-content">
      <div class="container">
        <div id="content-area" class="clearfix">
          <div id="left-area">
            <div id="chdiv00">

              <article id="post-8968"
                class="et_pb_post post-8968 post type-post status-publish format-standard has-post-thumbnail hentry category-mbbs-admission-2023-24 category-medical-colleges-in-maharastra tag-mbbs-in-maharahtra tag-top-private-colleges-for-mbbs-in-maharashtra-2023-24">

                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";' id="isPasted"><span style="font-size:24px;line-height:115%;">Admission to AFMC Pune 2023</span></p>

                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">One of India&#39;s top medical schools is the Armed Forces Medical College (AFMC). It is a part of the University of Pune and is situated in Pune, Maharashtra. The AFMC provides a variety of allied health courses in addition to undergraduate and graduate medical programs.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">eligibility requirements</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The following qualifications must be met in order to get admitted to AFMC Pune:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Candidates must have successfully completed the Physics, Chemistry, Biology, and English requirements of the 12th grade.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Candidates in the General category must have an overall minimum requirement of 60%. However, the minimal combined percentage for applicants who are SC/ST/OBC is 50%.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Candidates need to have taken the NEET 2023 test.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Application Method</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Online applications will be accepted for admission to AFMC Pune in 2023. Beginning in July 2023, the application form will be accessible on the AFMC website. The application cost is INR 750 for SC, ST, and OBC applicants and INR 1500 for general category candidates.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Choice Process</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Candidates will be chosen for admission to AFMC Pune depending on how well they performed in the NEET 2023 test and in a subsequent interview. The NEET 2023 test will take place in July 2023. Only the top 1% of applicants who take the NEET 2023 test will likely be accepted because to the very high cut-off for admission to the AFMC Pune.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">courses provided</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The following undergraduate and graduate medical programs are available at AFMC Pune:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Fees for MBBS, MD, MS, DM, M.Ch, and PhD diploma programmes</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The following is the fee schedule for 2023 admission to AFMC Pune:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">INR 4.5 lakhs annually for MBBS</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">MD/MS: 6.5 lakhs INR annually</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">DM/M.Ch: 8 lakhs INR annually</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">PhD: Rs. 3 lakh annually</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Diploma programs cost INR 1 lakh annually.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">How to Use</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">You should do the following actions to apply for admission to AFMC Pune in 2023:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Please go to the AFMC website.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The &quot;Admissions&quot; tab may be selected.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">On the &quot;Apply Online&quot; link, click.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Complete the application and submit the required payment.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">upload the papers you&#39;ve scanned.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Send in the application.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Significant Dates</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The following dates are crucial for 2023 admission to AFMC Pune:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Release of the application form: July 2023</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">NEET 2023 examination date: July 2023 NEET 2023 results announcement date: August 2023 Application form submission deadline: August 2023</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">AFMC Date of Pune seat allocation: September 2023</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Conclusion</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">As a highly esteemed medical school, AFMC Pune has a very tough admissions process. The AFMC Pune should be your first choice if you want to become a doctor. You must, however, be ready to put in a lot of effort and outperform the nation&#39;s top pupils.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">In addition to the aforementioned, the following are some more considerations for applicants to AFMC Pune admission 2023:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The application form must be completed completely and truthfully. Any mistakes on the application form might result in the rejection of your request.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The application form must be submitted with all necessary papers scanned and uploaded.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">The whole application cost must be paid.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Before the application deadline, the NEET 2023 test must be taken and the results released.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">I really hope that this blog article was useful. Please don&#39;t hesitate to get in touch with me if you have any further inquiries.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Here are some other application advices for AFMC Pune:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Early preparation is key for the NEET 2023 test.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">To acquire a sense of the questions that will be asked, take practice NEET exams.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">To remain inspired and connected with other students who are also applying to AFMC Pune, join a study group or online forum.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Develop your interviewing abilities.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">Be ready to discuss your reasons for choosing to become a doctor and your professional aspirations.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:24px;line-height:115%;">I&#39;m wishing you luck as you apply to AFMC Pune!</span></p>
                
                <p data-f-id="pbf" style="text-align: center; font-size: 14px; margin-top: 30px; opacity: 0.65; font-family: sans-serif;">Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a></p>

              </article>


            </div>
          </div>
          {% include "need_help_addmitionform.html" %}

        </div>
      </div>
    </div>

  </div>
</div>


{% endblock mainbody %}