{% extends "base.html" %}
{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/blog.css">

{% endblock heder %}
{% block mainbody %}
<script>
  let body = document.getElementById("mainbody")
  body.setAttribute("class", "blog custom-background et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_two_panels et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutters3 et_smooth_scroll et_right_sidebar et_divi_theme et-db")
</script>

<div id="page-container">

  <div id="et-main-area">

    <div id="main-content">
      <div class="container">
        <div id="content-area" class="clearfix">
          <div id="left-area">
            <div id="chdiv00">

              <article id="post-8968"
                class="et_pb_post post-8968 post type-post status-publish format-standard has-post-thumbnail hentry category-mbbs-admission-2023-24 category-medical-colleges-in-maharastra tag-mbbs-in-maharahtra tag-top-private-colleges-for-mbbs-in-maharashtra-2023-24">


                <div class="album py-5 bg-body-tertiary" id="html_to_div">
                  <!-- <div class="container"> -->

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
                     
                      <div class="col">
                        <div class="card border-0">
                          <a href="/neet-cut-Off-2023"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/neet-pg-cut-off-2023"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/aiims-cut-off-2023"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/ai" alt="" class="img-fluid"></a>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/aiims-new-delhi-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/AIIMS New Delhi Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/jipmer-ipmer-pondicherry-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/JIPMER Pondicherry Cut Off.png" alt="" class="img-fluid"></a>
                          </div>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/afmc-pune-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/AFMC Pune Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/cms-vellore-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/CMC Vellore Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/mamc-new-delhi-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/MAMC New Delhi Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/kgmu-lucknow-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/KGMU Lucknow Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/kmc-mangalore-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/KMC Manglore Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/lhmc-new-delhi-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/LHMC New Delhi Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/mmc-chennai-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/MMC Chennai Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/gmc-mumbai-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/GMC Mumbai Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/gsmc-mumbai-cut-off"><img src="/static/mbbs_state_all_link_images/To Colleges NEET Cut off 2023-20230717T073603Z-001/To Colleges NEET Cut off 2023/GSMC Mumbai Cut Off.png" alt="" class="img-fluid"></a>
                        </div>
                      </div>




                    </div>
                  <!-- </div> -->
                </div>

              </article>


            </div>
          </div>
          {% include "need_help_addmitionform.html" %}

        </div>
      </div>
    </div>

  </div>
</div>


{% endblock mainbody %}