{% extends "base.html" %}
{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/blog.css">
<style>
    .text_content {
        line-height: 30px;
        font-size: 20px;
    }
    
</style>
{% endblock heder %}
{% block mainbody %}
<script>
    let body = document.getElementById("mainbody")
    body.setAttribute("class", "blog custom-background et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_two_panels et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutters3 et_smooth_scroll et_right_sidebar et_divi_theme et-db")
</script>

<div id="page-container">

    <div id="et-main-area">

        <div id="main-content">
            <div class="container">
                <div id="content-area" class="clearfix">
                    <div id="left-area">
                        <div id="chdiv00_ln">
                            <div class="album">

                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                                    <div class="col">;
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS  Colleges in Kerala.png" alt="Top Cities & States" style="background-color: black;"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Bangalore.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Bhopal.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Bhubaneswar.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Chennai.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS colleges in Dehradun.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Delhi NCR.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Hyderabad.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Karnataka.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Kolkata.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Lucknow.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Maharashtra.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Mangalore.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in New Delhi.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Pondicherry.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Pune.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Punjab.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS Colleges in Tamil Nadu.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div><div class="col">
                                        <div class="card border-0">
                                            <a href="/medical-collages"><img src="/static/mbbs_state_all_link_images/Top MBBS Cities India-20230717T073610Z-001/Top MBBS Cities India/MBBS colleges in uttar pradesh.png" alt="Top Cities & States"></a>
                                        </div>
                                    </div>

                                

                                </div>
                            </div>
                        </div>

                    </div>
                    {% include "need_help_addmitionform.html" %}

                </div>
            </div>

        </div>


    </div>

    {% endblock mainbody %}